<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Art | Megan Nelson</title>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Montserrat:wght@300;400;500;900&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!-- Masonry.js -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

    <!-- images loaded -->
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <!-- my stylesheet -->
    <link rel="stylesheet" href="../styles/art.css">

    <link rel="icon" href="./imgs/favicon.ico">

  </head>
  <body>

    <!-- HEADER -->

    <section class="header-section">

      <div class="header container-fluid">

        <div class="row">
          <div class="art-hr-container1 col-lg-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-5">
            <h1 class="header-title">
              <div>
                ART
              </div>
              <div>
                WORK
              </div>
            </h1>
          </div>
          <div class="col-xl-7">
            <p class="header-text">
              It's difficult to sum up what art means to me. Ever since I could hold a pencil, I’ve spent a major part of my life drawing. I enjoy sitting in a quiet place, like a library or a cafe, and capturing the feeling of the space I’m in.  Often I find myself doodling people in public, wondering where they’re headed off to or what sorts of things stress them out. In my work, I like to explore how repeated motifs create form, theme, and feeling. My favorite mediums include pen, ink, and colored pencil. 
            </p>
          </div>
        </div>

        <div class="row">
          <div class="art-hr-container2 col-lg-12">
            <hr>
            <span class="down-symbol">	&#x25bc;</span>
          </div>
        </div>


      </div>


    </section>

    <!-- ART SECTION -->

    <section class="art-section">
      <div class="container-fluid">
        <div class="grid">

          <% pieces.forEach((piece) => { %>

            <div class="grid-item">
              <div class="piece-image-container">
                <img class="piece-image" src="./imgs/art/<%= piece.image %>" alt="<%= piece.image %>">
                <div class="piece-caption">
                  <%= piece.description %>
                </div>
              </div>
            </div>

          <% }); %>

        </div>
      </div>
    </section>

    <!-- MODAL CONTENT -->

    <div class="modal">

      <button class="close-modal btn btn-md btn-dark" type="button" name="button">&times;</button>

      <!-- <button class="prev-button btn btn-md btn-dark" type="button" name="button"></button>
      <button class="next-button btn btn-md btn-dark" type="button" name="button"></button> -->

      <img class="modal-image" id="my-image" alt="image">

      <div class="modal-caption"></div>

    </div>

    <!-- FOOTER -->

    <section class="footer-section">

      <div class="container-fluid">

        <div class="row">
          <div class="footer-container col-lg-12">
            <p>&#169 Copyright Megan Nelson 2020</p>
          </div>
        </div>

      </div>

    </section>


    <!-- my javascript -->
    <script src="../scripts/art.js" charset="utf-8"></script>

  </body>
</html>
