<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Megan Nelson</title>

    <!-- paper.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.7/paper-full.js" charset="utf-8"></script>
    <!-- my paper script -->
    <script id="myScript" type="text/paperscript" src="./scripts/star.js" canvas="myCanvas"></script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Montserrat:wght@300;400;500;900&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ffc6eb7467.js" crossorigin="anonymous"></script>


    <!-- my css -->
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- favicon -->
    <link rel="icon" href="./imgs/favicon.ico">

  </head>
  <body>

    <!-- NAVIGATION BAR -->

    <section class="navigation-section">

      <nav id="myNavbar" class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href=""></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler01">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler01">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cv">CV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/art">ART</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contactme">Contact Me</a>
            </li>
          </ul>
        </div>
      </nav>

    </section>

    <!-- HEADER SECTION -->

    <section class="header-section">

      <div class="canvas-container">
        <canvas id="myCanvas" resize></canvas>
      </div>

      <div class="header-background-image">
        <img class="background-image" src="./imgs/blob.svg" alt="blob img">
      </div>

      <div class="row">
        <div class="header col-lg-12">
          <div class="header-text">
            <h1 class="header-lead">Hi, I'm <span>Megan Nelson</span>.</h1>
            <h3 class="header-subtitle">a programmer</h3>
            <a href="#about"><button class="index-button btn btn-lg btn-dark" type="button" name="button">About Me <i class="fas fa-arrow-right header-arrow-icon"></i></button></a>
          </div>
        </div>
      </div>

    </section>

    <!-- ABOUT ME -->

    <section class="about-section" id="about">

      <div class="container-fluid">
        <div class="row">
          <div class="about-me-header col-xl-12">
            <h2>ABOUT ME</h2>
            <div>
              <hr class="index-hr">
            </div>
          </div>

          <div class="about-me-content row">
            <div class="profile-image-container col-xl-3">
              <img class="profile-image" src="./imgs/profile-pic.png" alt="profile picture">
            </div>
            <div class="col-xl-9">
              <div class="about-me-text">

                <p>Hi there! Glad you stumbled on my site. My name is Megan and I recently graduated from Vassar College with a dual degree in Political Science and Computer Science.</p>
                <p>Over the past four years, I’ve been heavily involved with both environmental advocacy and animal advocacy organizations. I have managed community events, performed outreach, and written newspaper op-eds in support of local clean air resolutions. Currently, I work as a freelance writer specializing in software and product reviews, UX/UI career development, and middle market lending strategy. </p>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="about-me-text">
                <p>I enjoy painting, hiking, and coding in my spare time. My favorite stack is Mongoose, Express.js, React.js, and Node. I’m always looking for new opportunities, so don’t hesitate to reach out.</p>
              </div>
            </div>
          </div>

          </div>



      </div>

    </section>

    <!-- PORTFOLIO -->

    <section class="portfolio-section" id="portfolio">

        <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="false">
          <div class="carousel-inner">

            <div class="carousel-item active container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <h2><a href="/art">ART WORK</a></h2>
                  <hr class="dot-hr">
                </div>
              </div>
              <div class="row carousel-images">
                <div class="col-lg-5 col-md-6 carousel-slide1-container">
                  <img src="./imgs/art/the_beach.png" alt="beach img">
                </div>
                <div class="col-lg-4 col-md-6 carousel-slide1-container">
                  <img src="./imgs/art/joyce3.jpg" alt="joyce img">
                </div>
                <div class="col-lg-3 carousel-slide1-container">
                  <img src="./imgs/art/something.png" alt="flower img">
                </div>
              </div>
            </div>

            <div class="carousel-item container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <h2>WRITTEN WORK</h2>
                  <hr class="dot-hr">
                </div>
              </div>

              <div class="article-row row">
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="article-card">
                    <img src="./imgs/climate.jpeg" alt="climate 1 image">
                    <h6 class="article-header"><a href="https://www.sltrib.com/opinion/letters/2019/10/01/letter-act-locally-combat/">Letter: Act Locally to Combat Climate Change</a></h6>
                    <hr>
                    <p class="article-content">
                      If you were anywhere near the Utah Capitol on Sept. 20, you probably noticed it: Hundreds of concerned residents and students gathered in the blustery cold to express their concern over our changing environment.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="article-card">
                    <img src="./imgs/climate2.jpg" alt="climate 2 img">
                    <h6 class="article-header"><a href="https://www.deseret.com/2018/9/27/20654567/guest-opinion-utahns-deserve-to-hear-candidates-solutions-to-climate-change">Utahns Deserve to Hear Candidate Solutions to Climate Change</a></h6>
                    <hr>
                    <p class="article-content">
                      Despite decades of mounting evidence on our environmental impact, climate change has been written off as an unmentionable problem in recent political campaigns.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <div class="article-card">
                    <img src="./imgs/climate3.jpeg" alt="climate 3 image">
                    <h6 class="article-header"><a href="https://www.sltrib.com/opinion/letters/2019/07/30/letter-time-speak-out/">Letter: Time to Speak Out on Climate Change</a></h6>
                    <hr>
                    <p class="article-content">
                      Surely you haven’t missed the way that the average state temperature has risen dramatically over the past 30 years. Surely you’ve heard the statistic that just standing outside your door is the equivalent of smoking ...
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item container-fluid">

              <div class="row">
                <div class="col-lg-12">
                  <a href="https://github.com/meganNelson03/Compiler/tree/master/Compiler_Project/Compiler-Nelson/src/parser"><h2>COMPILER PROJECT</h2></a>
                  <hr class="dot-hr">
                </div>
              </div>

              <div class="carousel-slide2-container">
                <div class="row">
                  <div class="col-lg-5 col-md-12 compiler-image">
                    <img src="./imgs/parseTree.png" alt="parse tree compiler">
                  </div>
                  <div class="col-lg-7 col-md-12">
                    <div class="compiler-description">
                      <span class="compiler-title">
                        <p>Pascal Programming Language Compiler</p>
                        <p>Made with: Java</p>
                      </span>
                      <p>
                        A compiler is a specialized tool that converts sets of instructions into machine-readable code,
                        the lower-level format that computers use to execute programs. This compiler takes high level Pascal code as input and
                        returns assembly instructions.
                      </p>
                      <p>
                        The string input is first tokenized, or broken up into the smallest possible chunks of meaning, before being syntactically analyzed
                        for proper structure. After the input is verified against the Pascal Grammar through parsing, the compiler performs context-sensitive analysis. Semantic analysis is used to check
                        for illegal arguments, type declaration, proper variable references, proper use of conditional statements, and other contextual code features.
                        Building a compiler creates a richer understanding of definite finite automatons, grammars, syntax trees, and code validation.
                      </p>
                      Code: <a href="https://github.com/meganNelson03/Compiler/tree/master/Compiler_Project/Compiler-Nelson/src/parser"><i class="fas fa-code"></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="carousel-control-prev-icon fas fa-chevron-left fa-2x"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="carousel-control-next-icon fas fa-chevron-right fa-2x"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </section>

    <!-- CV -->

    <section class="cv-section" id="cv">

      <div class="container-fluid">

        <div class="row cv-header">
          <div class="col-lg-12">
            <h2>Megan Nelson</h2>
            <h6>Salt Lake City, UT</h6>
            <a href="https://github.com/meganNelson03"><i class="fab fa-md fa-github"></i></a>  |
            <a href="https://www.linkedin.com/in/megan-nelson1/"><i class="fab fa-md fa-linkedin"></i></a>
            <hr class="dot-hr">
          </div>
        </div>

        <div class="row">

              <div class="resume-section col-lg-8">

                <div class="row">
                  <div class="resume-section-header col-lg-12">
                    <h3 class="resume-section-title">Education</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="education-title">B.A. in Political Science and Computer Science </h4>
                      <p>Vassar College<p>
                      <p>Poughkeepsie, New York</p>
                      <ul>
                        <li>Overall GPA: 3.28 / 4.00</li>
                        <li>Major GPA: 3.85 / 4.00</li>
                        <li>Relevant Coursework: Java Programming (I - III), Analysis of Algorithms, Machine Learning, Compilers, Computer Architecture, and Operating Systems</li>
                      </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="education-title">The 2020 Web Developer Full-Stack Bootcamp</h4>
                    <p>Udemy.com, Instructor: Angela Yu</p>
                    <ul>
                      <li>Crafted websites that required both front-end and back-end technologies and libraries</li>
                      <li>Cousework focused on client-side (HTML, CSS, JS, Bootstrap, jQuery), server-side (Express.js, EJS), and database (Mongoose, MongoDB) concepts</li>
                    </ul>
                  </div>
                </div>

              </div>

              <div class="resume-section col-lg-4">
                  <h3 class="resume-section-title">Skills</h3>
                  <div class="skills-container">
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 90%;">
                        <div class="skill">
                          HTML5
                          <span class="skill-percent">90%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 80%;">
                        <div class="skill">
                          CSS3
                          <span class="skill-percent">80%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 60%;">
                        <div class="skill">
                          JavaScript
                          <span class="skill-percent">60%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 50%;">
                        <div class="skill">
                          Node.js
                          <span class="skill-percent">50%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 70%;">
                        <div class="skill">
                          Bootstrap
                          <span class="skill-percent">70%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 50%;">
                        <div class="skill">
                          jQuery
                          <span class="skill-percent">50%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 60%;">
                        <div class="skill">
                          Mongoose
                          <span class="skill-percent">60%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 90%;">
                        <div class="skill">
                          EJS
                          <span class="skill-percent">90%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 70%;">
                        <div class="skill">
                          Bash
                          <span class="skill-percent">70%</span>
                        </div>
                      </div>
                    </div>
                    <div class="skill-bar">
                      <div class="bar-fill" style="width: 60%;">
                        <div class="skill">
                          Git
                          <span class="skill-percent">60%</span>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <hr class="dot-hr">
          </div>
        </div>

        <!-- EXPERIENCES ROW -->

        <div class="resume-section">

          <div class="row">
            <div class="resume-section col-lg-12">
              <h3 class="resume-section-title">Experience</h3>
            </div>
          </div>

          <div class="work-experience">

            <div class="row">
              <div class="work-place col-lg-7">
                <h4 class="job-title">Freelance Writing</h4>
                <p>TextBroker, Inc.</p>
                <p>Christchurch, New Zealand</p>
              </div>
              <div class="work-date col-lg-5">
                <p>July 2019 to Current</p>
              </div>
            </div>

            <div class="row">
              <div class="work-description col-lg-12">
                <ul>
                  <li>Crafted hundreds of articles, technical papers, teaching materials, and press releases based on client specification</li>
                  <li>Expressed acute knowledge concerning software, web development, UX design, and business intelligence</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="work-experience">

            <div class="row">
              <div class="work-place col-lg-7">
                <h4 class="job-title">Climate Lobby Intern</h4>
                <p>Citizens' Climate Lobby (<em>Volunteer of the Month, Oct. 2019</em> )</p>
                <p>Salt Lake City, Utah</p>
              </div>
              <div class="work-date col-lg-5">
                <p>Summer of 2018  |  May 2019 - November 2019</p>
              </div>
            </div>

            <div class="row">
              <div class="work-description col-lg-12">
                <ul>
                  <li>Met with mayors and Utah House Representatives to discuss Carbon Fee and Dividend policies</li>
                  <li>Worked on community outreach to city council members and residents to discuss carbon pricing</li>
                  <li>Planned, moderated, and advertised county-wide Mayors' Town Hall that drew in over two hundred local attendees</li>
                  <li>Wrote newspaper od-eps and press releases in support of local environmental policy</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="work-experience">
            <div class="row">
              <div class="work-place col-lg-7">
                <h4 class="job-title">Computer Science Tutor</h4>
                <p>Vassar College</p>
                <p>Poughkeepsie, New York</p>
              </div>
              <div class="work-date col-lg-5">
                <p>September 2017 - May 2019</p>
              </div>
            </div>
              <ul>
                <li>Assisted students in class lab period for Fundamentals of Programming (CS-101) and Java Programming (CS-102)</li>
                <li>Held weekly office hours to assist students with programming projects, midterms, and final test preparation</li>
              </ul>
          </div>

          <div class="work-experience col-lg-12">
            <div class="row">
              <div class="work-place col-lg-7">
                <h4 class="job-title">Kitten Nursery Intern</h4>
                <p>Best Friends' Animal Society</p>
                <p>Salt Lake City, Utah</p>
              </div>
              <div class="work-date col-lg-5">
                <p>May 2018 - September 2018</p>
              </div>
            </div>
              <ul>
                <li>Assisted with the medical care, daily care, and volunteer coordination at Best Friends' kitten shelter</li>
                <li>Developed app to track diseased kitten's intake into Utah shelters in order to study population</li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <hr class="dot-hr">
          </div>
        </div>

        <div class="resume-section">

          <div class="row">
            <div class="resume-section col-lg-12">
              <h3 class="resume-section-title">Activities</h3>
            </div>
          </div>

          <div class="work-experience col-lg-12">
            <div class="row">
              <div class="work-place col-lg-7">
                <h4 class="job-title">NSO President and Treasurer</h4>
                <p>Vassar College</p>
                <p>Poughkeepsie, New York</p>
              </div>
              <div class="work-date col-lg-5">
                <p>September 2016 - May 2019</p>
              </div>
            </div>
              <ul>
                <li>Successfully led three annual conventions that drew in more than 1000 attendees every year</li>
                <li>Financially managed organization that leads weekly social student events</li>
              </ul>
          </div>

          <div class="work-experience col-lg-12">
            <div class="row">
              <div class="work-place col-lg-7">
                <h4 class="job-title">Administrative Assistant</h4>
                <p>Art Department, Vassar College</p>
                <p>Poughkeepsie, New York</p>
              </div>
              <div class="work-date col-lg-5">
                <p>September 2016 - May 2017</p>
              </div>
            </div>
            <ul>
              <li>Helped students and visitors find resources</li>
              <li>Prepared department for faculty, speaker, and student events</li>
            </ul>
          </div>

          <!-- <div class="work-experience col-lg-12">
            <div class="row">
              <div class="work-place col-lg-7">
                <h4 class="job-title">The Listening Center Certified Listener</h4>
                <p>Vassar College</p>
                <p>Poughkeepsie, New York</p>
              </div>
              <div class="work-date col-lg-5">
                <p>September 2016 - May 2017</p>
              </div>
            </div>
              <ul>
                <li>Helped students find mental health services through weekly listening hours</li>
                <li>Attended group meetings to plan mental health awareness events on campus</li>
              </ul>
          </div> -->

        </div>
        </div>
      </div>

    </section>

    <!-- CONTACT ME -->

    <section class="contact-section" id="contactme">

      <div class="container-fluid">

        <div class="contact-me-text row">
          <div class="col-lg-12">
            <h2>Contact Me</h2>
            <hr class="index-hr">
            <p>Have a question or want to work with me? Don't be afraid to reach out!</p>
          </div>
        </div>

        <div class="row">

            <form class="contact-form" action="/" method="post">
              <div class="col-lg-12">
                <input type="text" name="name" placeholder="your name">
              </div>
              <div class="col-lg-12">
                <input type="text" name="email" placeholder="email@email.com">
              </div>
              <div class="col-lg-12">
                <textarea rows="10" cols="2" name="message" placeholder="your message"></textarea>
              </div>

                <div class="contact-alert-message contact-alert-message-display col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <p id="contact-alert-message-text"></p>
                    </div>
                    <div class="col-2">
                      <button class="contact-alert-button btn btn-md btn-dark" type="button" name="button">&#10005;</button>
                    </div>
                  </div>
                </div>

              <div class="col-lg-12">
                <button class="index-button btn btn-lg btn-dark" type="submit" name="button">Send Message</button>
              </div>
            </form>
          </div>

        </div>
      </div>

    </section>

    <!--- SOCIALS -->

    <section class="social-section">

      <div class="container-fluid">


        <div class="row">
          <div class="col-lg-12">
            <a href="https://github.com/meganNelson03"><i class="fab fa-github fa-3x"></i></a>
            <a href="https://www.instagram.com/megan.swagathon/"><i class="fab fa-instagram-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/megan-nelson1/"><i class="fab fa-linkedin fa-3x"></i></a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p>&#169; Copyright Megan Nelson 2020</p>
          </div>
        </div>
      </div>

    </section>

    <!-- Bootstrap requirements: jQuery, popper, boots-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- my javascript -->
    <script src="./scripts/index.js" charset="utf-8"></script>

  </body>
</html>
