html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Tera", sans-serif;
}

/***** GENERAL SECTION STYLING *****/

.container-fluid {
  padding: 7% 15%;
  color: rgba(0, 0, 0, .7);
  overflow-x: hidden;
}

.index-section-header {
  font-size: 3rem;
}

.index-hr {
  border: 5px solid #ff9595;
  width: 50%;
  margin: 4% auto;
}

.dot-hr {
 border-top: 20px dotted #342b38;
 margin: 4% auto;
 opacity: 0.7;
 height: 2px;
 width: 90px;
 padding-bottom: 2%;
}

.index-button {
  background-color: #241d26;
  border: 2px solid #80bdab;
  border-radius: 0px;
  color: #80bdab;
  margin-top: 2%;
  padding: 1% 2%;
}

.index-button:hover {
  background-color: #80bdab;
  border: 2px solid #80bdab;
  color: #342b38;
}

/* Animations */

.scale-up {
  animation: scale-up-animation 2s forwards;
}

@keyframes scale-up-animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.slide-in-left {
  animation: slide-in-left-animation 2s forwards;
}

@keyframes slide-in-left-animation {
  from {
    transform: translateX(-900px);
  }

  to {
    transform: translateX(0px);
  }
}

.slide-in-right {
  animation: slide-in-right-animation 2s forwards;
}

@keyframes slide-in-right-animation {
  from {
    transform: translateX(900px);
  }

  to {
    transform: translateX(0px);
  }
}

.opacity-animate {
  animation: opacity-animation 3s forwards;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/***** CANVAS SECTION *********/

#myCanvas {
  width: 100vw;
  height: 100vh;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
}

/********* NAVIGATION **********/

.navbar {
  position: fixed;
  padding: .75% 5%;
  width: 100%;
  z-index: 99;
}

.nav-link {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.nav-item {
  padding: 0 18px;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff9595;
}

/*  Navbar Animations */

.scrolled-navbar {
    background-color: #342b38;
    box-shadow: 2px 2px 5px rgba(33,27,35, 0.3);
    transition: background-color 1000ms;
}

.unscrolled-navbar {
  background-color: none;
  transition: background-color 1000ms;
}

/***** HEADER SECTION *****/

.header-section {
  background-color: #241d26;
  border-bottom: 5px solid #ff9595;
  color: white;
  text-align: center;
  width: 100%;
  height: calc(100vh);
}

.header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.header-section .row {
  margin: 0 auto;
}

.header-text {
  width: 100vw;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.header-text h1, .header-text h3 {
  line-height: 2;
  text-shadow: -1px 2px 8px rgba(33,27,35,1);
}

.header-text h1 {
  font-size: 3.5rem;
}

.header-text h3 {
  font-size: 2rem;
}

.header-section span {
  color: #ff9595;
  font-weight: 700;
}

/* Header Animation */

.header-animation {
  animation: header-animate 2s forwards;
}

@keyframes header-animate {
  from {
    transform: scale(.75);
  }

  to {
    transform: scale(1);
  }

}

/* Header Button Animation */

.header-move-icon {
  animation-name: arrow-animation;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-name: arrow-animation .5s forwards;
}

@keyframes arrow-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(90deg);
  }
}

/********* ABOUT ME SECTION ************/

.about-section p {
  line-height: 2;
}

.about-section .index-section-header {
}


.profile-image-container {
  width: 100%;
}

.profile-image {
  width: 100%;
  padding-right: 6%;
}

.about-me-header {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 4%;
}

.about-me-text {
  text-align: justify;
}

.about-section .index-hr {
  margin-top: 4%;
}

/***** PORTFOLIO *******/

.portfolio-section .container-fluid {
  background-color: #342b38;
  color: white;
  text-align: center;
  padding: 4% 5%;
  height: 100vh;
}

.portfolio-section a {
  color: white;
}

.portfolio-section a:hover {
  color: #ff9595;
  text-decoration: none;
}

.portfolio-section .dot-hr {
  border-top: 20px dotted #4c3e52;
  margin: 2% auto;
}

.portfolio-section h2 {
  letter-spacing: 2px;
  /* font-size: 2.5rem; */
}

/* Carousel Styling */

.carousel-inner {
  height: 100vh;
}

.carousel-item .index-section-header {
  padding-top: 2%;
}

.carousel-inner {
  padding-bottom: 5%;
}

.carousel-img img {
  width: 100%;
  margin-bottom: 3%;
}


.carousel-art-container img {
  width: 100%;
  padding-left: 10%;
}

.carousel-art-description {
  text-align: justify;
  padding: 0 5%;
}

.carousel-art-description p {
  line-height: 2;
  padding-right: 10%;
}

.carousel-compiler-container {
  padding-left: 5%;
}

.carousel-item .index-button {
  background-color: #342b38;
}

.carousel-item .index-button:hover {
  background-color: #80bdab;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
  color: #ff9595;
}

/*  Compiler Project Section */

.compiler-description {
  text-align: justify;
  font-size: .9rem;
  padding: 0 15% 0 7%;
}

.compiler-image img {
  width: 100%;
}

/*   Written Work Section */

.article-card {
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
  font-size: .8rem;
  box-shadow: 2px 2px 2px 1px #1f1921;
}

.article-card a {
  color: rgba(0, 0, 0, 0.8);
}

.article-card img {
  width: 100%;
  max-height: 200px;
}

.article-row {
  padding: 0 5%;
}

.article-header {
  padding: 2% 1% 0 1%;
  text-align: center;
}

.article-content {
  padding: 0 4% 4% 4%;
}

/* Portfolio Image Animation */

.portfolio-image-style {
  animation: dim-image-opacity 250ms forwards;
}

@keyframes dim-image-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

/******* CV ****************/

.cv-header {
  text-align: center;
  padding-bottom: 4%;
  margin-top: 10%;
}

.cv-section a {
  color: #342b38;
}

.cv-section a:hover {
  color: #1f1921;
}

.cv-header .index-section-header {
  padding-bottom: 2%;
}

.cv-header h6 {
  padding-bottom: 1%;
}

.resume-section:first-of-type {
  padding-right: 5%;
}

.resume-section-title {
  padding-bottom: 6%;
  font-size: 2.5rem;
  font-weight: bold;
}

.education-title {
  font-size: 1.25rem;
  letter-spacing: 1;
}

.job-title {
  font-size: 1.25rem;
}

.cv-section p {
  margin: 0;
  font-weight: 500;
}

.cv-section ul {
  padding-top: 1%;
}

.cv-section li {
  font-size: .9rem;
  padding-bottom: 2%;
}

.cv-section .work-date {
  text-align: right;
  padding-top: 2%;
}

.work-place, .work-description, .resume-section {
  padding-left: 0;
}

.work-experience {
  padding-bottom: 2%;
  padding-left: 0;
  margin: 0;
}

.work-activities {
  margin-top: 2%;
}

/* Skills Bar Section */

.skills-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.skill-bar {
  width: 100%;
  background-color: lightgray;
  margin-bottom: 4%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.skill {
  text-align: center;
  width: 100px;
  background-color: #80bdab;
  color: white;
}

.bar-fill {
  background-color: #9fd4c4;
}

.skill-percent {
  font-size: .8rem;
  position: absolute;
  right: 17px;
}

/****** CONTACT ME *******/

.contact-section .container-fluid {
  background-color: #342b38;
  color: white;
  text-align: center;
  padding-bottom: 4%;
}

.contact-form-container {
  width: 100%;
  margin: 0 auto;
}


.contact-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.contact-section form input[type="text"], form textarea {
  background-color: #848087;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0px 10px 33px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 33px -16px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 33px -16px rgba(0,0,0,0.75);
  color: white;
  font-size: 1.05rem;
  width: 100%;
  max-width: 500px;
  max-height: 200px;
  padding: 2%;
  /* outline: 2px solid #6b6b6b; */
  margin-bottom: 10px;
}


.contact-section form input[type="text"]:focus, .contact-section textarea:focus {
  outline: 3px solid #80bdab;
}

::placeholder {
  color: white;
  opacity: .5;
  font-size: .95rem;
}

.contact-section p {
  font-size: 1.2rem;
}

.contact-me-text {
  padding-bottom: 2%;
}

.contact-alert-message {
  border: 1px solid #ff9595;
  color: #342b38;
  background-color: #ff9595;
  margin: 0 auto 4% auto;
  width: 100%;
}

.contact-alert-button {
  position: absolute;
  top: 10%;
  background-color: #ff9595;
  border: none;
  border-radius: 0;
  padding: 0 10%;
  color: #342b38;
}

.contact-alert-button:hover {
  background-color: #ba6c6c;
  border: none;
}

.contact-alert-message-display {
  display: none;
}

#contact-alert-message-text {
  font-size: .8rem;
  text-align: left;
  padding: 2% 0 2% 0;
  margin: 0;
}


/***** SOCIALS ******/

.social-section .container-fluid {
  background-color: #241d26;
  text-align: center;
  padding: 7% 15% 0 15%;
}

.social-section .fab {
  color: #bbf1c8;
  padding: 0% 2% 4% 2%;
}

.social-section .fab:hover {
  color: #80dbab;
}

.social-section p {
  color: #bbf1c8;
  opacity: 0.5;
}

/**** RESPONSIVE RESIZING *******/

@media (max-width: 700px) {

  .container-fluid {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .carousel-art-container p {
    line-height: 1.5;
  }

  .social-section .container-fluid {
    padding-top: 15%;
  }

  .contact-section .container-fluid {
    padding-bottom: 15%;
  }

  .portfolio-section .carousel-item .row {
    padding: 3% 10%;
  }

  .carousel-control-prev, .carousel-control-next {
    width: 10%;
  }
}

@media (max-width: 768px) {
  #myNavbar {
    padding-right: 1%;
    padding-top: 1%;
  }

  .carousel-art-container p {
    font-size: .85rem;
  }

  .carousel-art-container img {
    padding: 5% 6%;
  }

  .portfolio-section .container-fluid {
    padding: 8% 5%;
  }

  .carousel-art-container img {
    padding: 0 5%;
    margin-bottom: 5%;
  }

  .resume-section-title {
    font-size: 1.5rem;
  }

  .education-title {
    font-size: 1rem;
  }

  .job-title {
    font-size: 1rem;
  }

  .contact-section p {
    font-size: .9rem;
  }

  ::placeholder {
    font-size: .9rem;
  }


}

@media (max-width: 991px) {

  .about-me-container {
    text-align: center;
  }

  .carousel-art-container img {
    padding: 5% 10%;
  }

  .carousel-art-container p {
    text-align: left;
    padding: 0 10%;
  }

  .carousel-art-container form {
    text-align: center;
  }

  .compiler-image img {
    display: none;
  }

  .compiler-description {
    padding: 2% 5%;
    text-align: left;
  }

  .compiler-description .compiler-title {
    text-align: center;
  }

  .carousel-item {
    height: 100%;
  }

  .cv-section .work-date {
    text-align: left;
    padding: 0;
  }

  .cv-section p {
    font-size: .9rem;
  }

  .article-card {
    padding: 0;
  }

  .article-card img {
    max-height: none;
  }

  .article-card .article-header {
    font-size: .8rem;
  }

  .index-section-header {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .profile-image-container {
    margin: auto;
    text-align: center;
  }

  .profile-image {
    width: 40%;
    margin-bottom: 8%;
  }

}

/******** PLATFORM RESPONSIVE **********/

@media (min-width: 991px) and (max-width: 1213px) {

  .carousel-art-container p {
    font-size: .85rem;
  }

}

@media (min-width: 641px) and (max-width: 990px) {

  .header-text .header-lead {
    font-size: 2rem;
  }

  .header-text .header-subtitle {
    font-size: 1.5rem;
    padding-bottom: 2.5%;
  }

}


@media (min-width: 769px) and (max-width: 991px) {

  .article-card-1 , .article-card-2 {
    margin-bottom: 10%;
  }


}

@media (max-width: 768px) {

  .carousel-inner {
    height: 100vh;
  }

  .index-button {
    font-size: .9rem;
  }

  .resume-section-title {
    margin-top: 5%;
  }

}


@media (min-width: 481px) and (max-width: 640px)  {
  /* smartphones, iPhone, portrait 480x320 phones */

  .header-text .header-lead {
      font-size: 1.5rem;
  }

  .social-section .fab {
    font-size: 2.5rem;
  }

  .header-text .header-subtitle {
    font-size: 1rem;
    padding-bottom: 5%;
  }

  .index-section-header {
    margin-bottom: 8%;
  }

  .index-hr {
    margin-bottom: 8%;
    width: 60%;
    border: 4px solid #ff9595;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  /* iPhone 5 */

  .header-text .header-lead {
    font-size: 1.18rem;
  }

  .social-section .fab {
    font-size: 2rem;
    margin-bottom: 2%;
  }

  .header-text .header-subtitle {
    font-size: .8rem;
    padding-bottom: 5%;
  }

  .index-section-header {
    font-size: 1.5rem;
  }

  .index-section-header {
    margin-bottom: 10%;
  }

  .index-hr {
    margin-bottom: 8%;
    width: 70%;
    border: 3px solid #ff9595;
  }

  .cv-section .dot-hr {
    margin-top: 10%;
  }

}

@media (min-width: 320px) and (max-width: 374px) {
  /* For iPhone 5 */
  .cv-section .index-section-header {
    font-size: 1.2rem;
    padding: 0;
  }

  .header-text .header-lead {
    font-size: 1rem;
  }

  .header-text .header-subtitle {
    font-size: .6rem;
    padding-bottom: 5%;
  }
}

/* Tablets **/

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1400px)
and (orientation : portrait) {

  .carousel-art-container {
    margin-top: 10%;
  }

  .article-row {
    margin-top: 7%;
  }

  .article-header {
    font-size: .9rem;
  }

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .portfolio-section .container-fluid {
    height: 60vh;
  }

  .carousel-inner {
    height: 100%;
  }

}

@media only screen
and (min-device-width: 1025px)
and (max-device-width: 1400px)
and (orientation : landscape) {

  .portfolio-section .container-fluid {
    height: 70vh;
  }

  .carousel-inner {
    height: 100%;
  }

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  .portfolio-section .container-fluid {
    height: 100vh;
  }

  .carousel-inner {
    height: 100%;
  }


}
