html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Tera", sans-serif;
}

/***** GENERAL SECTION STYLING *****/

.container-fluid {
  padding: 7% 15%;
  color: rgba(0, 0, 0, .7);
}

.index-button {
  background-color: #342b38;
  border: 2px solid #80bdab;
  border-radius: 0px;
  color: #80bdab;
  margin-top: 2%;
  padding: 1% 2%;
}

.index-button:hover {
  background-color: #80dbab;
  border: none;
  color: #342b38;
  animation: btn-animate 1s forwards;
}

/* Button Scale Animation */

@keyframes btn-animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

/***** CANVAS STYLES *********/

#myCanvas {
  width: calc(100vw);
  height: calc(100vh);
}

.background-image {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 5%;
  z-index: 0;
  width: 100%;
  height: calc(100vh);
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
}

/********* NAVIGATION **********/

.navbar {
  position: fixed;
  padding: .75% 5%;
  width: 100%;
  z-index: 99;
}

.nav-link {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.nav-item {
  padding: 0 18px;
}

.navbar-toggler-icon {


}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  border-radius: 2px;
  box-shadow: none;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff9595;
}

/*  Navbar Animations */

.scrolled {
    background-color: #342b38;
    box-shadow: 2px 2px 5px rgba(33,27,35, 0.3);
    transition: background-color 1000ms;
}

.unscrolled {
  background-color: none;
  transition: background-color 1000ms;
}

@keyframes makeOpaque {
  from {
    background-color: none;
  }
  to {
    background-color: #342b38;
  }
}

/***** HEADER SECTION *****/

.header-section {
  background-color: #342b38;
  border-bottom: 5px solid #ff9595;
  color: white;
  text-align: center;
  padding: 15% 7%;
  width: 100%;
  height: calc(100vh);
}

.header-text h1, .header-text h3 {
  line-height: 2;
  text-shadow: -1px 2px 8px rgba(33,27,35,1);
}

.header-text h1 {
  font-size: 3rem;
}

.header-text h3 {
  font-size: 2rem;
}

.header-section span {
  color: #ff9595;
  font-weight: 700;
}

/* Header Button Animation */

.header-move-icon {
  animation-name: arrow-animation;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes arrow-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(90deg);
  }
}

/********* ABOUT ME SECTION ************/

.about-section  h2 {
  font-family: "Lexend Tera";
  font-size: 2.5rem;
  padding-bottom: 5%;
}

.about-section p {
  line-height: 2;
}

/***** PORTFOLIO *******/

.portfolio-section .container-fluid {
  background-color: #342b38;
  color: white;
  text-align: center;
  padding: 4% 5%;
}

.portfolio-section a {
  color: white;
}

.portfolio-section a:hover {
  color: #ff9595;
  text-decoration: none;
}

.portfolio-section hr {
  margin: 2% auto;
  opacity: 0.7;
  height: 2px;
  width: 90px;
  border-top: 20px dotted #4c3e52;
}

.portfolio-section h2 {
  letter-spacing: 2px;
}

.portfolio-section .carousel-inner {
  padding-bottom: 5%;
}

.portfolio-section .carousel-slide1-container img {
  width: 100%;
  box-shadow: 5px 5px 5px 0px #1f1921;
}

.portfolio-section .carousel-slide1-container img[src="./imgs/art/something.png"] {
  height: 95%;
}

.portfolio-section .carousel-slide2-container {
  padding-left: 5%;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
  color: #ff9595;
}

.carousel-images {
  padding: 0 2%;
}

.compiler-description {
  text-align: justify;
  font-size: .9rem;
  padding: 0 15% 0 7%;
}

.compiler-image img {
  width: 100%;
}

/* Portfolio Image Animation */

.portfolio-image-style {
  animation: dim-image-opacity 250ms forwards;
}

@keyframes dim-image-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

/******* CV ****************/

.cv-header {
  text-align: center;
  padding-bottom: 4%;
}

.cv-section a {
  color: #342b38;
}

.cv-section a:hover {
  color: #1f1921;
}

.cv-section hr {
  border-top: 20px dotted #342b38;
  margin: 4% auto;
  opacity: 0.7;
  height: 2px;
  width: 90px;
}

.cv-section h2 {
  font-size: 2.25rem;
}

.cv-section h3 {
  padding-bottom: 2%;
  font-size: 2rem;
  font-weight: 900;
}

.cv-section h4 {
  font-family: "Montserrat";
  font-weight: 500;
}

.cv-section p {
  margin: 0;
  font-weight: 500;
}

.cv-section ul {
  padding-top: 1%;
  list-style: none;
}

.cv-section li {
  font-size: .9rem;
  line-height: 1.5;
  padding-bottom: 2%;
}

.cv-section .work-date {
  text-align: right;
  padding-top: 2%;
}

.work-place, .work-description, .resume-section-title {
  padding-left: 0;
}

.work-experience {
  padding-bottom: 2%;
  padding-left: 0;
  margin: 0;
}

/****** CONTACT ME *******/

.contact-section .container-fluid {
  background-color: #342b38;
  color: white;
  text-align: center;
  padding-bottom: 4%;
}

.contact-section input:focus, .contact-section textarea:focus {
  outline: 2px solid white;
}

.contact-section form {
  margin: 0 auto;
}

.contact-section form input[type="text"], form textarea {
  width: 400px;
  background-color: #80bdab;
  color: #342b38;
  border: none;
  font-size: 1.05rem;
  padding: 2%;
  margin-bottom: 20px;
}

.contact-section hr {
  background-color: #ff9595;
  height: 5px;
  margin: 4% auto;
  width: 50%;
}

.contact-section h2 {
  font-size: 3rem;
}

.contact-section p {
  font-size: 1.2rem;
}

.contact-me-text {
  padding-bottom: 2%;
}

.contact-alert-message {
  border: 1px solid #ff9595;
  color: #342b38;
  background-color: #ff9595;
  margin-bottom: 4%;
  width: 400px;
  margin-left: 4%;
}

.contact-alert-button {
  position: absolute;
  left: 40px;
  top: 3px;
  background-color: #ff9595;
  /* border: 2px solid #ba6c6c; */
  border: none;
  border-radius: 0;
  padding: 0 10%;
  color: #342b38;

}

.contact-alert-button:hover {
  background-color: #ba6c6c;
  border: none;
}

.contact-alert-message-display {
  display: none;
}


#contact-alert-message-text {
  font-size: .8rem;
  text-align: left;
  padding: 2% 0 2% 0;
  margin: 0;
}

::placeholder {
  color: #bbf1c8;
  opacity: 1;
}

/* Contact Form Text Animation */

.contactAnimation {
  animation-name: change-text-scale 1s forwards;
}

@keyframes change-text-scale {
  from {
    font-size: 1.2rem;
  }
  to {
    font-size: 1.25rem;
  }
}

/***** SOCIALS ******/

.social-section .container-fluid {
  background-color: #241d26;
  text-align: center;
  padding: 7% 15% 0 15%;
}

.social-section .fab {
  color: #bbf1c8;
  padding: 0% 2% 4% 2%;

}

.social-section .fab:hover {
  color: #80dbab;
}

.social-section p {
  color: #bbf1c8;
  opacity: 0.5;
}

/**** RESPONSIVE RESIZING *******/

@media (max-width: 768px) {

  .portfolio-section .carousel-slide1-container:not(:first-child) {
    display: none;
  }

}


@media (max-width: 991px) {
  .cv-section .work-date {
    text-align: left;
    padding: 0;
  }

  .compiler-image img {
    display: none;
  }

  .compiler-description {
    padding: 2% 7%;
  }

  .compiler-description .compiler-title {
    text-align: center;
  }

  .portfolio-section .carousel-slide1-container:nth-of-type(3) {
    display: none;
  }
}


@media (max-width: 700px) {
  .header {
    padding-top: 30%;
  }

  #myNavbar {
      position: absolute;
      width: 100%;
      z-index: 9999;
  }

  h1 {
    line-height: 1.5;
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.75rem;
  }



}

@media (min-width: 750px) and (max-width: 990px) {

  nav.navbar {
    padding-top: 3%;
  }

  .header {
      padding-top: 15%;
      padding-left: 15%;
      padding-right: 15%;
  }

  h1 {
    line-height: 1.5;
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.75rem;
  }

}
