html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Tera", sans-serif;
}

/***** GENERAL SECTION STYLING *****/

.container-fluid {
  padding: 7% 15%;
  color: rgba(0, 0, 0, .7);
}

.dot-hr {
 border-top: 20px dotted #342b38;
 margin: 4% auto;
 opacity: 0.7;
 height: 2px;
 width: 90px;
 padding-bottom: 2%;
}

.index-button {
  background-color: #241d26;
  border: 2px solid #80bdab;
  border-radius: 0px;
  color: #80bdab;
  margin-top: 2%;
  padding: 1% 2%;
}

.index-button:hover {
  background-color: #80bdab;
  border: 2px solid #80bdab;
  color: #342b38;
}

.index-hr {
  border: 5px solid #ff9595;
  width: 50%;
  margin: 4% auto;
}

/***** CANVAS STYLES *********/

#myCanvas {
  width: calc(100vw);
  height: calc(100vh);
}

.background-image {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 5%;
  z-index: 0;
  width: 100%;
  height: calc(100vh);
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
}

/********* NAVIGATION **********/

.navbar {
  position: fixed;
  padding: .75% 5%;
  width: 100%;
  z-index: 99;
}

.nav-link {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.nav-item {
  padding: 0 18px;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  box-shadow: none;
  outline: 1px solid #ff9595;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff9595;
}

/*  Navbar Animations */

.scrolled {
    background-color: #342b38;
    box-shadow: 2px 2px 5px rgba(33,27,35, 0.3);
    transition: background-color 1000ms;
}

.unscrolled {
  background-color: none;
  transition: background-color 1000ms;
}

/***** HEADER SECTION *****/

.header-section {
  background-color: #241d26;
  border-bottom: 5px solid #ff9595;
  color: white;
  text-align: center;
  width: 100%;
  height: calc(100vh);
}

.header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-text h1, .header-text h3 {
  line-height: 2;
  text-shadow: -1px 2px 8px rgba(33,27,35,1);
}

.header-text h1 {
  font-size: 3rem;
}

.header-text h3 {
  font-size: 2rem;
}

.header-section span {
  color: #ff9595;
  font-weight: 700;
}

/* Header Button Animation */

.header-move-icon {
  animation-name: arrow-animation;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes arrow-animation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(90deg);
  }
}

/********* ABOUT ME SECTION ************/

.about-section  h2 {
  font-family: "Lexend Tera";
  font-size: 2.5rem;
}

.about-section p {
  line-height: 2;
}

.profile-image-container {
  width: 100%;
}

.profile-image {
  width: 100%;
  padding-right: 6%;
}

.about-me-header {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 4%;
}

.about-me-text {
  text-align: justify;
}

.about-section .index-hr {
  margin-top: 4%;
}

/***** PORTFOLIO *******/

.portfolio-section .container-fluid {
  background-color: #342b38;
  color: white;
  text-align: center;
  padding: 4% 5%;
}

.portfolio-section a {
  color: white;
}

.portfolio-section a:hover {
  color: #ff9595;
  text-decoration: none;
}

.portfolio-section .dot-hr {
  border-top: 20px dotted #4c3e52;
  margin: 2% auto;
}

.portfolio-section h2 {
  letter-spacing: 2px;
  font-size: 2.5rem;
}

/* Carousel Styling */

.carousel-slide1-container img {
  width: 100%;
  box-shadow: 5px 5px 5px 0px #1f1921;
}

.carousel-item h2 {
  padding-top: 2%;
}

.carousel-item {
  height: 725px;
}

.carousel-inner {
  padding-bottom: 5%;
}

.carousel-slide2-container {
  padding-left: 5%;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
  color: #ff9595;
}

.carousel-images {
  padding: 0 2%;
}

/*  Art Work Section */

.carousel-slide1-container img[src="./imgs/art/something.png"] {
  height: 95%;
}

/*  Compiler Project Section */

.compiler-description {
  text-align: justify;
  font-size: .9rem;
  padding: 0 15% 0 7%;
}

.compiler-image img {
  width: 100%;
}

/*   Written Work Section */

.article-card {
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
  font-size: .8rem;
  box-shadow: 2px 2px 2px 1px #1f1921;
}

.article-card a {
  color: rgba(0, 0, 0, 0.8);
}

.article-card img {
  width: 100%;
  max-height: 200px;
}

.article-row {
  padding: 0 5%;
}

.article-header {
  padding: 2% 1% 0 1%;
  text-align: center;
}

.article-content {
  padding: 0 4% 4% 4%;
}

/* Portfolio Image Animation */

.portfolio-image-style {
  animation: dim-image-opacity 250ms forwards;
}

@keyframes dim-image-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

/******* CV ****************/

.cv-header {
  text-align: center;
  padding-bottom: 4%;
}

.cv-section a {
  color: #342b38;
}

.cv-section a:hover {
  color: #1f1921;
}

.cv-header h2 {
  padding-bottom: 2%;
  font-size: 2.7rem;
}

.cv-header h6 {
  padding-bottom: 1%;
}

.resume-section:first-of-type {
  padding-right: 5%;
}


.resume-section-title {
  padding-bottom: 6%;
  font-size: 2.5rem;
  font-weight: bold;
}

.education-title {
  font-size: 1.25rem;
  letter-spacing: 1;
}

.job-title {
  font-size: 1.25rem;
}

.cv-section p {
  margin: 0;
  font-weight: 500;
}

.cv-section ul {
  padding-top: 1%;
}

.cv-section li {
  font-size: .9rem;
  padding-bottom: 2%;
}

.cv-section .work-date {
  text-align: right;
  padding-top: 2%;
}

.work-place, .work-description, .resume-section {
  padding-left: 0;
}

.work-experience {
  padding-bottom: 2%;
  padding-left: 0;
  margin: 0;
}

/* Skills Bar Section */

.skills-container {
  padding-top: 5%;
  padding-bottom: 5%;
}

.skill-bar {
  width: 100%;
  background-color: lightgray;
  margin-bottom: 4%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.skill {
  text-align: center;
  width: 100px;
  background-color: #80bdab;
  color: white;
}

.bar-fill {
  background-color: #9fd4c4;
}

.skill-percent {
  font-size: .8rem;
  position: absolute;
  right: 17px;
}

/****** CONTACT ME *******/

.contact-section .container-fluid {
  background-color: #342b38;
  color: white;
  text-align: center;
  padding-bottom: 4%;
}

.contact-section h2 {
  font-size: 3rem;
}

.contact-section form {
  margin: 0 auto;
}

.contact-section form input[type="text"], form textarea {
  background-color: #80bdab;
  border: none;
  color: #342b38;
  font-size: 1.05rem;
  width: 350px;
  padding: 2%;
  margin-bottom: 20px;
}

.contact-section input:focus, .contact-section textarea:focus {
  outline: 2px solid white;
}

::placeholder {
  color: #bbf1c8;
  opacity: 1;
}

.contact-section p {
  font-size: 1.2rem;
}

.contact-me-text {
  padding-bottom: 2%;
}

.contact-alert-message {
  border: 1px solid #ff9595;
  color: #342b38;
  background-color: #ff9595;
  margin-bottom: 4%;
  width: 350px;
  margin-left: 4%;
}

.contact-alert-button {
  position: absolute;
  left: 34px;
  top: 3px;
  background-color: #ff9595;
  border: none;
  border-radius: 0;
  padding: 0 10%;
  color: #342b38;

}

.contact-alert-button:hover {
  background-color: #ba6c6c;
  border: none;
}

.contact-alert-message-display {
  display: none;
}

#contact-alert-message-text {
  font-size: .8rem;
  text-align: left;
  padding: 2% 0 2% 0;
  margin: 0;
}

/* Contact Form Text Animation */

.contactAnimation {
  animation-name: change-text-scale 1s forwards;
}

@keyframes change-text-scale {
  from {
    font-size: 1.2rem;
  }
  to {
    font-size: 1.25rem;
  }
}

/***** SOCIALS ******/

.social-section .container-fluid {
  background-color: #241d26;
  text-align: center;
  padding: 7% 15% 0 15%;
}

.social-section .fab {
  color: #bbf1c8;
  padding: 0% 2% 4% 2%;
}

.social-section .fab:hover {
  color: #80dbab;
}

.social-section p {
  color: #bbf1c8;
  opacity: 0.5;
}

/**** RESPONSIVE RESIZING *******/

@media (max-width: 600px) {
  .header-text h1 {
    font-size: 2rem;
  }

  .header-text h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  h1 {
    line-height: 1.5;
    font-size: 2.75rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .portfolio-section .carousel-item .row {
    padding: 3% 10%;
  }
}

@media (max-width: 768px) {
  #myNavbar {
    padding-right: 1%;
    padding-top: 1%;
  }

  .portfolio-section .carousel-slide1-container:not(:first-child) {
    display: none;
  }

  .portfolio-section .container-fluid {
    padding: 8% 5%;
  }
}

@media (max-width: 991px) {
  .compiler-image img {
    display: none;
  }

  .compiler-description {
    padding: 2% 7%;
  }

  .compiler-description .compiler-title {
    text-align: center;
  }

  .carousel-item {
    height: 100%;
  }

  .portfolio-section .carousel-slide1-container:nth-of-type(3) {
    display: none;
  }

  .cv-section .work-date {
    text-align: left;
    padding: 0;
  }

  .about-me-container {
    text-align: center;
  }

  .article-card {
    padding: 0;
  }

  .article-card img {
    max-height: none;
  }

  .article-card .article-header {
    font-size: .8rem;
  }
}

@media (max-width: 1200px) {
  .profile-image-container {
    margin: auto;
    text-align: center;
  }

  .profile-image {
    width: 40%;
    margin-bottom: 8%;
  }
}
